#label-distribution {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#label-distribution #title {
  display: block;
  text-transform: uppercase;
  color: #323232;
  font-size: 12px;
  font-weight: bold;
}

#label-distribution #value {
  display: block;
  color: #0c0c0c;
  font-size: 24px;
  font-weight: bold;
}

#label-distribution #plot-wrapper {
  flex-grow: 1;
  height: 100%;
  width: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#label-distribution #no-label {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}