.Login {
  width: 450px;
  margin: auto;
  color: black;
}

.Login #forgot-password-btn {
  display: block;
  text-align: right;
}

.Login #login-submit-btn {
  display: block;
  margin: 0 auto;
  color: white;
  background-color: #472076;
}