#add-dataset-navbar-btn {
  background-color: #4d1ce0;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.non-clickable {
  cursor: default;
}