#dataset-plot {
  height: 100%;
  background: rgb(31,11,88);
  background: linear-gradient(90deg, rgba(31,11,88,1) 0%, rgba(23,8,65,1) 65%);
  color:white;
}

#dataset-plot #header {
  display: flex;
}

#dataset-plot #title {
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

#select-columns-wrapper {
  flex-grow: 1;
  text-align: right;
}

#select-columns-wrapper .select-column-axis {
  margin: 0 4px;
  display: inline-block;
}

#select-columns-wrapper .select-column-axis span:first-of-type {
  margin-right: 4px;
}

#select-columns-wrapper button {
  background-color: #332263;
}

#select-columns-wrapper button span {
  color: white;
}